@import "../index.scss";

.search {
  padding-top: 20px;
  margin-bottom: 40px;
  display: grid;
}

.cards {
  overflow: hidden;
  display: grid;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-column-gap: 5rem; /* espacio entre elementos*/
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    grid-column-gap: 3.5rem; /* espacio entre elementos*/
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .cards {
    grid-column-gap: 3.5rem; /* espacio entre elementos*/
    grid-template-columns: repeat(4, 1fr);
  }
  .search {
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
