@import "../index.scss";

.pagination {
  list-style: none;
  text-align: right;
  padding: 10px;
  .page {
    /*se pongan a la par*/
    display: inline-block;
    margin-right: 10px;
  }
  .page-active {
    display: inline-block;
    margin-right: 10px;
    a {
      background: var(--bm);
      font-weight: bold;
    }
  }

  .page-link {
    display: block;
    padding: 10px 20px;
    color: var(--bt);
    background: var(--bg);
    text-decoration: none;
  }
}

@media screen and (min-width: 375px) {
  .pagination {
    padding: 0px;
    text-align: center;
  }
}
